@media only screen and (max-width: 768px) {
  .poa-sm {
    position: absolute !important;
  }

  .por-sm {
    position: relative !important;
  }

  .pof-sm {
    position: fixed!important;
  }

  .fl-sm {
    float:left;
  }

  .fln-sm {
    float:none;
  }

  .fll-sm {
    float:left;
  }

  .flr-sm {
    float:right;
  }

  .cll-sm {
    clear:left;
  }

  .clr-sm {
    clear:right;
  }

  .clb-sm {
    clear:both;
  }

  .vh-sm {
    visibility:hidden;
  }

  .ovv-sm {
    overflow:visible;
  }

  .ovh-sm {
    overflow:hidden;
  }

  .ovs-sm {
    overflow:scroll;
  }

  .bxz-sm {
    box-sizing:border-box;
  }

  .vat-sm {
    vertical-align:top;
  }

  .vab-sm {
    vertical-align:bottom;
  }

  .vam-sm {
    vertical-align: middle;
  }

  .bgszcv-sm {
    background-size:cover;
  }

  .t0-sm {
    top: 0 !important;
  }

  .b0-sm {
    bottom: 0 !important;
  }

  .l0-sm {
    left: 0 !important;
  }

  .r0-sm {
    right: 0 !important;
  }

  .di-sm {
    display: inline !important;
  }

  .db-sm {
    display: block !important;
  }

  .dib-sm {
    display: inline-block !important;
  }

  .dn-sm {
    display: none !important;
  }

  .dt-sm {
    display: table;
  }

  .dtbc-sm {
    display: table-cell;
  }

  .m-a-sm {
    margin: auto !important;
  }

  .h100p-sm {
    height: 100% !important;
  }

  .w100p-sm {
    width: 100% !important;
  }

  .hi-sm {
    height: initial !important;
  }

  .wi-sm {
    width: initial !important;
  }
}